body{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}
.container {
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: 5px;
    margin-top: 0;
  }
div{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
body img {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    margin: auto;
}
.mousePad {
    width: 200px;
    height: 100px;
    border: 1px solid black;
  }
