body{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: grey;
}
.container {
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 0px 5px 15px 5px;
    background: darkslateblue;
    color: white;
  }
div{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 0px;
}
h3{
 font-size: 25px;
 border: 1px solid black;
 margin-top: 5px;
 top: 0;
 background-color: darkorchid;
}
body img {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}
.mousePad {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
  }
